extends ../template

block variables
    - var title = 'Main'

block content
    .wrapper
        include ../common/header.pug
        section.section.section--slider(data-scrolling="true")
                .slider
                    ul.slider__list
                        each val, index in ["1", "2", "3", "4", "5"]
                            if index === 0
                                li.slider__item.active(style="background-image: url(./assets/images/slide-" + val + ".jpg);")
                                    .container
                                        .slider__title Sed ut perspiciatis 
                                            br 
                                            | unde omnis iste natus 
                                            br
                                            | error #{val}000
                                        a(href="#").button.button_default Learn Now!
                            else
                                li.slider__item(style="background-image: url(./assets/images/slide-" + val + ".jpg);")
                                    .container
                                        .slider__title Sed ut perspiciatis 
                                            br 
                                            | unde omnis iste natus 
                                            br
                                            | error #{val}000
                                        a(href="#").button.button_default Learn Now!
                    .dots
                        button(type="button" data-num="0").dots__btn.active
                        button(type="button" data-num="1").dots__btn
                        button(type="button" data-num="2").dots__btn
                        button(type="button" data-num="3").dots__btn
                        button(type="button" data-num="4").dots__btn
                .partners
                    .container
                        ul.partners__list
                            each val, index in ["visa", "neteller", "perfect", "sticpay", "fasapay"]
                                li.partners__item
                                    img(src="./assets/images/" + val + ".png" alt="partner")  
        section.section.section--services(data-scrolling="true")
            .container
                .services
                    h1.section__title.section__title--light Excepteur sint occaecat Cupidatat 
                        br
                        |Non proident, sunt in culpa qui Officia.
                    ul.services__list
                        each item, index in [{count: "75000+", desc: "First Parameter Value", icon: "one", title: "Lorem Ipsum Dolor"}, {count: "0%", desc: "Second Parameter Value", icon: "two", title: "Consectetur Adipisicing Elit"},{count: "$5000", desc: "Third Parameter Value", icon: "three", title: "Tempor Incididunt Ut"},{count: "90+", desc: "Fourth Parameter Value", icon: "four", title: "Sed Do Eiusmod"}]
                            li.services__item
                                .services__count=item.count
                                .services__desc=item.desc
                                .services__card
                                    .services__icon
                                        span(class="icon-service-" + item.icon)
                                    .services__title=item.title
                                    .services__text 
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        section.section.news(data-scrolling="true")
            .news__bg(style="background-image: url(./assets/images/news-bg-1.jpg)")
            .news__bg(style="background-image: url(./assets/images/news-bg-2.jpg)")
            .container
                .news__row
                    .news__col
                        .section__title.section__title--light Check out our personal 
                            br
                            |blog to be in trend
                        a(href="#").news__link Go to Blog
                    .news__col
                        .section__title.section__title--light Check out our personal 
                            br
                            |blog to be in trend
                        a(href="#").news__link Check News
        section.section.value(data-scrolling="true")
            .container
                h1.section__title.section__title--deep Voluptatem points doluptas 
                    br
                    |sit Aspernatur aut 2000
                .value__row
                    .value__col
                        .value__row
                            .value__box
                                .value__title.value__title--required Value 01
                                .value__count 0
                                .value__slider
                                    input(type="range" name="value-1" min="0" max="100" value="0").range
                                    span.range__fill
                            .value__box
                                .value__title.value__title--required Value 02
                                .value__count 0
                                .value__slider
                                    input(type="range" name="value-2" min="0" max="100" value="0").range
                                    span.range__fill
                        .value__text
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    .value__col
                        .value__box
                                .value__title Value 03
                                .value__count.value__count--total 120
                                button(type="button").button.button_default.value__button See more values
        section.section.step(data-scrolling="true")
            .container
                h1.section__title.section__title--dark Lorem ipsum dolor sit amet
                .section__description Architecto beatae vitae dicta sunt explicabo. Nemo enim
                ul.step__list
                    each val, index in ["01", "02", "03"]
                        li.step__item
                            .step__title=val
                            .step__subtitle Step #{val}
                            .step__desc Lorem ipsum dolor sit amet, consectetur adipisicing elitaliqua.
        section.section.section--contacts(data-scrolling="true")
            .container
                h1.section__title Excepteur sint cupidatat non proident?
                form.form
                    .form__row
                        .form__col
                            .form__block
                                input(type="text" name="firstName" placeholder="First Name").form__input
                        .form__col
                            .form__block
                                input(type="text" name="lastName" placeholder="Last Name").form__input
                        .form__col
                            .form__block
                                input(type="email" name="email" placeholder="Email Address").form__input
                    .form__row
                        .form__col
                            .form__block
                                .form__input-wrap
                                    input(type="number" name="number" placeholder="+93").form__input
                                    .tooltip
                                        span Lorem ipsum dolor sit amet, consectetur adipisicing elitaliqua.
                            .form__block
                                .form__input-wrap
                                    input(type="number" name="zipCode" placeholder="Zip Code").form__input
                                    .tooltip
                                        span Lorem ipsum dolor sit amet, consectetur adipisicing elitaliqua.
                            .form__block
                                .form__input-wrap
                                    .select-wrap
                                        select(placeholder="Country").form__input.form__input--select
                                            option Spain
                                            option Germal
                                    .tooltip
                                        span Lorem ipsum dolor sit amet, consectetur adipisicing elitaliqua.
                        .form__col
                            .form__block
                                .form__input-wrap
                                    input(type="date" name="date" value="2020-04-25").form__input
                                    .tooltip
                                        span Lorem ipsum dolor sit amet, consectetur adipisicing elitaliqua.
                            .form__block
                                textarea(name="message" placeholder="Your message").form__textarea
                    .form__row
                        .form__col
                            label.form__file Attach your file
                                input(type="file" id="file" name="file").visuallyhidden
                        .form__col
                            button(type="submit").button.button_default.button_submit Sent
        include ../common/footer.pug